node_modules/
coverage/
public/
example/
config/
scripts/
build/
index.js
index.ts
.github/
example-package.json
package-lock.json
mocks.json
renovate.json
tsconfig.json
README.md
index.test.ts
babel.config.js
